// main: style.less

@black: #2b2a2c;
@gray: #64696b;
@gray-light: #8d8d8e;
@white: #fff;

@mobile-sam: ~"(max-width: 400px)";
@mobile-sm: ~"(max-width: 565px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 991px)";
@notebook: ~"(max-width: 2500px)";
